@{
    ViewData["Title"] = "Order Success Page";
}

 <main class="order-container">
      <div class="my-box">
        <div class="icon">
          <i class="fa-regular fa-circle-check"></i>
        </div>
        <div class="content">
          <h3 class="content-header">Đặt hàng thành công</h3>
          <div class="content-sub">
            <p>Cảm ơn quý khách đã đăng ký mua hàng tại Handmade.</p>
            <p>Đơn hàng của quý khách đã được hệ thống xác nhận.</p>
            <p>
              Thời gian nhận hàng sẽ từ 5-7 ngày nếu ở khu vực ngoại thành (trừ
              thứ 7,CN)
            </p>
            <p>
              Riêng khu vực Đà Nẵng sẽ được giao hàng trong ngày (khi đặt hàng
              trước 15h mỗi ngày, trừ thứ 7, CN)
            </p>
            <p>Lưu ý: Thanh toán khi nhận hàng.</p>
            <div class="line"></div>
          </div>
          <a class="btt" asp-area="" asp-controller="Home" asp-action="Index">Trở về trang chủ</a>
        </div>
      </div>
    </main>