@{
    ViewData["Title"] = "Product Page";
}

 <section class="products" id="products">
      <h1 class="headings">Tất Cả <span>Sản Phẩm</span></h1>

      <div class="sear">
        <form class="tk" action="action_page.php">
          <input type="text" placeholder="Tìm kiếm..." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div class="sort">
        <span>Sắp xếp theo</span>
        <div class="opt">
          <div class="pb">Mới Nhất</div>
          <div class="mn">Phổ Biến</div>
          <div class="bc">Bán Chạy</div>
          <div class="gi">
            <select id="gia">
              <option value="tc" selected>Giá: Thấp đến cao</option>
              <option value="ct">Giá: Cao đến thấp</option>
            </select>
          </div>
        </div>
      </div>

      <div class="box-container box-wrapper">
        @{
          foreach (var product in ViewBag.products)
          {
            <div class="box-item">
            <div class="box">
              <span class="discount">-@product.DiscountPercentage%</span>
              <div class="image">
                <img src="@product.Image" alt="image" />
                <div class="icons">
                  <form class="cart-btn1" action="" method="post">
                    <button type="submit"><i class="fas fa-heart"></i></button>
                  </form>
                  <form action="" method="" class="form-ac">
                    <button class="form-ac" type="submit">Thêm vào giỏ</button>
                  </form>
                  <form class="cart-btn1" action="#">
                    <button type="submit"><i class="fas fa-share"></i></button>
                  </form>
                </div>
              </div>
              <div class="content">
                <h3>@product.ProductName</h3>
                <div class="price">&#8363;@product.DiscountedPrice <span>&#8363;@product.OriginalPrice</span></div>
              </div>
            </div>
          </div>
          }
        }
      </div>

      <div class="page">
        <a href="#" class="btu"><</a>
        <a href="#" class="btuc">1</a>
        <a href="#" class="btu">2</a>
        <a href="#" class="btu">3</a>
        <a href="#" class="btu">></a>
      </div>
    </section>
