@{
    ViewData["Title"] = "Cart Page";
}

<section class="cart">
      <div class="icons">
        <i class="fa-solid fa-cart-plus"></i>
      </div>

      <div class="gh">
        <span>Giỏ hàng của bạn</span>
        <form class="tk" action="">
          <input type="text" placeholder="Tìm kiếm..." name="search" />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>

      <div class="tu">
        <div class="cb"></div>
        <div class="pr">Sản phẩm</div>
        <div class="na">Tên sản phẩm</div>
        <div class="pri">Đơn giá</div>
        <div class="num">Số lượng</div>
        <div class="mon">Số tiền</div>
        <div class="ope">Thao tác</div>
      </div>
      <div class="tu1">
        <div class="cb"><input type="checkbox" /></div>
        <div class="pr"><img src="./Uploads/sp1b.jpg" alt="image" /></div>
        <div class="na">dfsdf dfdf df</div>
        <div class="pri">
          <span>&#8363;3434343</span>
          &#8363;343434
        </div>
        <div class="num">
          <button class="dec">-</button>
          <input class="cen" type="text" value="1" />
          <button class="in">+</button>
        </div>
        <div class="mon">&#8363;34343334</div>
        <div class="ope">
          <form action="">
            <button type="submit">Xoá</button>
          </form>
          <br />
          Tìm sản phẩm tương tự <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="tu1">
        <div class="cb"><input type="checkbox" /></div>
        <div class="pr"><img src="./Uploads/sp1b.jpg" alt="image" /></div>
        <div class="na">dfsdf dfdf df</div>
        <div class="pri">
          <span>&#8363;3434343</span>
          &#8363;343434
        </div>
        <div class="num">
          <button class="dec">-</button>
          <input class="cen" type="text" value="1" />
          <button class="in">+</button>
        </div>
        <div class="mon">&#8363;34343334</div>
        <div class="ope">
          <form action="">
            <button type="submit">Xoá</button>
          </form>
          <br />
          Tìm sản phẩm tương tự <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
      <div class="tu1">
        <div class="cb"><input type="checkbox" /></div>
        <div class="pr"><img src="./Uploads/sp1b.jpg" alt="image" /></div>
        <div class="na">dfsdf dfdf df</div>
        <div class="pri">
          <span>&#8363;3434343</span>
          &#8363;343434
        </div>
        <div class="num">
          <button class="dec">-</button>
          <input class="cen" type="text" value="1" />
          <button class="in">+</button>
        </div>
        <div class="mon">&#8363;34343334</div>
        <div class="ope">
          <form action="">
            <button type="submit">Xoá</button>
          </form>
          <br />
          Tìm sản phẩm tương tự <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>

      <div class="tu2">
        <div class="cb"><input type="checkbox" /></div>
        <div class="se">Chọn tất cả</div>
        <div class="del">Xoá</div>
        <div class="save">Lưu vào mục yêu thích</div>
        <div class="num">Tổng thanh toán: &#8363;343434</div>
        <form action="/Checkout.html">
          <button type="submit">Mua hàng</button>
        </form>
      </div>

      <div class="may">
        <div>CÓ THỂ BẠN CŨNG THÍCH</div>
        <a href="">Xem tất cả ></a>
      </div>

      <div class="tu3">
        <div class="box">
          <span class="discount">-45%</span>
          <div class="image">
            <img src="./Uploads/sp1a.jpg" alt="image" />
            <div class="iconss">
              <a href="#" class="fas fa-heart"></a>
              <form action="">
                <button class="cart-btn" type="submit">Thêm vào giỏ</button>
              </form>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
          <div class="content">
            <h3>fdd dfdf dfdf</h3>
            <div class="price">
              &#8363;232323
              <span>&#8363;232323</span>
            </div>
          </div>
        </div>
        <div class="box">
          <span class="discount">-45%</span>
          <div class="image">
            <img src="./Uploads/sp1a.jpg" alt="image" />
            <div class="iconss">
              <a href="#" class="fas fa-heart"></a>
              <form action="">
                <button class="cart-btn" type="submit">Thêm vào giỏ</button>
              </form>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
          <div class="content">
            <h3>fdd dfdf dfdf</h3>
            <div class="price">
              &#8363;232323
              <span>&#8363;232323</span>
            </div>
          </div>
        </div>
        <div class="box">
          <span class="discount">-45%</span>
          <div class="image">
            <img src="./Uploads/sp1a.jpg" alt="image" />
            <div class="iconss">
              <a href="#" class="fas fa-heart"></a>
              <form action="">
                <button class="cart-btn" type="submit">Thêm vào giỏ</button>
              </form>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
          <div class="content">
            <h3>fdd dfdf dfdf</h3>
            <div class="price">
              &#8363;232323
              <span>&#8363;232323</span>
            </div>
          </div>
        </div>
        <div class="box">
          <span class="discount">-45%</span>
          <div class="image">
            <img src="./Uploads/sp1a.jpg" alt="image" />
            <div class="iconss">
              <a href="#" class="fas fa-heart"></a>
              <form action="">
                <button class="cart-btn" type="submit">Thêm vào giỏ</button>
              </form>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
          <div class="content">
            <h3>fdd dfdf dfdf</h3>
            <div class="price">
              &#8363;232323
              <span>&#8363;232323</span>
            </div>
          </div>
        </div>
        <div class="box">
          <span class="discount">-45%</span>
          <div class="image">
            <img src="./Uploads/sp1a.jpg" alt="image" />
            <div class="iconss">
              <a href="#" class="fas fa-heart"></a>
              <form action="">
                <button class="cart-btn" type="submit">Thêm vào giỏ</button>
              </form>
              <a href="#" class="fas fa-share"></a>
            </div>
          </div>
          <div class="content">
            <h3>fdd dfdf dfdf</h3>
            <div class="price">
              &#8363;232323
              <span>&#8363;232323</span>
            </div>
          </div>
        </div>
      </div>
    </section>
